{% extends 'base.html' %}

{% block content %}

<div class="partners pt-5">
	<div class="container">
	  	<div class="row">
			<div class="col-md-12">
				<br><br>
				<div class="section-heading pt-5">
					<h2>Our <em>Client</em></h2>
				</div>
			</div>
		</div>

		<div class="row">
			{% for i in client_list %}
			<div class="col-md-3">
				<div class="clients-item mb-4">
					<img src="{{ i.image.url }}"  width = "140" height ="140" alt="">
					<div class="down-content">
						<p>{{ i.title|striptags }}</p>                
					</div>
				</div>
			</div>
			{% endfor %}
		</div> 

		{% comment %} 
		<div class="row">
			{% for i in page_obj %}
			<div class="col-md-3">
				<img src="{{ i.image.url }}"  width = "140" height ="140" alt="">
				<div class="down-content">
					<p>{{ i.title }}</p>                
				</div>
			</div>
			{% endfor %}
		</div>
		
		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
					<a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
					<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
				{% endif %}
		
				<span class="current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
		
				{% if page_obj.has_next %}
					<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
					<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
				{% endif %}
			</span>
		</div> 
		{% endcomment %}

		<div class="pagination pt-4" >
			{% block page %}{% include 'pagination.html' %}{%endblock %}
		</div>

	</div>
</div>

{% endblock %}
