{% extends 'base.html' %}
{% load static  %}
{% block content %}
    <div class="services pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading pt-5">
                        <h2>
                            OUR EVENT & <em>PHOTO GALLERY</em>
                        </h2>
                    </div>
                </div>
                {% for i in galrdata %}
                    <div class="col-lg-4">
                        <a href="{{ i.image.url }}"
                           data-lightbox="example-set"
                           data-title="{{ i.title }}">
                            <img class="example-image w-100 mb-4"
                                 src="{{ i.image.url }}"
                                 alt="image-1"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
