{% extends 'base.html' %}

{% block content %}

  <div class="partners pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br><br>
          <div class="section-heading pt-5">
            <h2>Our <em>Client</em></h2>
          </div>
        </div>
        <div class="col-md-12">
          {% for i in cdata %}
          <div class="owl-partners owl-carousel wow animate__animated animate__zoomIn">
            <div class="partner-item">
              <img src="{{ i.image.url }}"  width = "140" height ="140" alt="">
              <div class="down-content">
                <p style=color:red;>{{ i.title }}</p>                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
