{% extends 'base.html' %}
 {% load static  %}

 {% block content %}


<div class="services pb-5">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>OUR EVENT & <em>PHOTO GALLERY</em></h2>
          
        </div>
      </div>

      {% for i in galrdata %}
      <div class="col-md-4">
        <div class="service-item wow animate__animated animate__zoomIn" >
        <a href ="" ><img src="{{ i.image.url }}"  width = "300" height ="300" alt=""> </a>   
          <div class="down-content">
            <p style= color:tomato;> {{ i.title }} </p>
          </div>
        </div>
      </div>

      {% endfor %} 
      
    </div>
</div>
</div>
      
      {% endblock %}