{% extends 'base.html' %}
{% load static  %}
{% block content %}
    <div class="portfolio-details pt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>
                            OUR <em>PORTFOLIO DETAILS</em>
                        </h2>
                    </div>
                    <div class="service-item wow animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="pt-4 pl-4" src="{{ portfoliodata.image.url }}" alt="" />
                            </div>
                            <div class="col-md-8">
                                <div class="down-content">
                                    <h4>{{ portfoliodata.title|striptags }}</h4>
                                    <p>{{ portfoliodata.description|striptags }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}
