{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="more-info pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                {% if servicedata.thumbnail_image %} <img src="{{ servicedata.thumbnail_image.url }}"   alt=""> {% else %}  Image coming soon  {% endif %}
                {% comment %} <img src="{{ servicedata.thumbnail_image.url }}"   alt=""> {% endcomment %}
                
              </div>
            </div>
            
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                {% if servicedata.description %}
                <h4  style=color:tomato;> {{ servicedata.title|striptags }} </h4><br>
                {% else%} Description coming soon {% endif %}              
                    <p>{{ servicedata.description|striptags }}</p>
                    <a href="{% url 'contact' %}" class="filled-button">Get a Quote </a>
                    {% comment %} <p>{% if object.description %} {{ object.description|slice: ':100' }} {% else %}  Description coming soon  {% endif %}<br><br>{{ object.description|slice: ':100'}}</p> {% endcomment %}
                {% comment %} <a href="{% url 'about' %}" class="filled-button">Read More</a> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}