{% extends 'base.html' %} {% load static %} {% block content %}
<div class="services pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>OUR <em>SERVICES</em></h2>
          <span>Aliquam id urna imperdiet libero mollis hendrerit</span>
        </div>
      </div>
      {% for i in service_list %}
      <div class="col-md-4">
        <div class="service-item wow animate__animated animate__zoomIn">
          <a href="{% url 'service-details' id=i.id %}">
            {% if i.image.url %}
            <img src="{{ i.image.url }}" width="350" height="300" alt="" />
            {% else %} Image coming soon {% endif %}
          </a>
          <div class="down-content">
            <h4 style="color: tomato">{{ i.title }}</h4>
            <p>{{ i.description|striptags|slice:":125" }}</p>
            <a href="{% url 'service-details' id=i.id %}" class="filled-button"
              >Read More</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

	 {% block page %} {% include 'pagination.html' %}{% endblock %}
  </div>
</div>
{% endblock %}
