.site-logo{
	width: 300px;
    padding: 5px 0px !important;
}
.navbar .navbar-nav a.nav-link{
    color: black !important;
}
header .navbar{
    padding: 0 !important;
}
.navbar .navbar-brand{
    margin: 0px !important;
}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .active>.nav-link, .navbar .navbar-nav .nav-link.current, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show>.nav-link {
    color: #01bbf0;
    border-bottom: 4px solid #01bbf0 !important;
}

.nav-link {
    padding: 42px 10px !important;
}
.new-dropdown-item{
    display: none;
    position: absolute;
    width: 270px;
    box-shadow: 5px 5px 10px #01bbf0
}
.new-dropdown-item{
    padding: 0;
    margin: 0;
}
.new-dropdown-item li{
    padding: 0;
    margin: 0;
}
.new-dropdown-item li a:hover {
    border-left: 5px solid #01bbf0;
    color: #01bbf0 !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.new-dropdown-item li a {
    display: block;
    padding: 6px 20px;
    font-size: 14px;
    color: #616161 !important;
    background: #fff;
    text-align: left;
    border-bottom: 1px solid #01bbf0;
    -webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}
.nav-item{
    position: relative;
}
.nav-item:hover .new-dropdown-item{
    display: block;
}
.c-profile .fa{
    font-size: 20px;
    color: red;
}
.filled-button .fa{
    font-size: 16px;
    color: #fff;
}
.service-item{
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 30px;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
}
.service-item:hover{
    box-shadow: 0 0 20px #01bbf0;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
}
.location-map{
    background: #ddd;
    text-align: left;
}
.feature-sec{
    background: #f7f7f7;
    padding: 25px;
}
.feature-sec .feature-item{
    text-align: center;
    padding: 25px 0;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.feature-sec .feature-item:hover{
    box-shadow: 0 0 15px #ccc;
    background: #fff;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.feature-sec .feature-item .fa{
    text-align: center;
    font-size: 70px;
    padding-top: 10px;
    height: 92px;
    width: 92px;
    border: 1px dashed #01bbf0;
    color: #01bbf0;
}
.feature-sec .feature-item .title-txt h5{
    font-size: 15px;
    padding-top: 20px;
}
.pp-txt{
    margin-bottom: 50px;
    padding: 35px;
    background: #f7f7f7;
}
.back-btn{
	text-align: center;
    display: block;
}
.sendmsg{
    text-align: center;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu{
    margin: 0 !important;
    background-color: #f8f9fa !important;
    border: 0px solid rgba(0,0,0,.15) !important;
    border-radius: 0 !important;
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:hover {
    background-color: #01bbf0 !important;
}
.service-item .down-content h4{
    font-size: 18px !important;
}
.sub-footer p{
    font-size: 13px !important;
}
.c-map{
    padding: 3rem!important;
}

@media (max-width: 768px) {
    .site-logo{
        width: 250px !important;
    }
    .navbar-toggler{
        background: transparent !important;
        margin: 20px 0;
        border: 1px solid #01bbf0 !important;
        top: 15px !important;
    }
    header{
        height: 100px !important;
        top: 0px !important;
    }
    #navbarResponsive{
        top: 100px !important;
    }
    .nav-link {
        padding:15px !important;
    }
    .c-profile{
        display: block;
        float: left !important;
        padding: 20px 0px !important;
    }
    .callback-form .contact-form {
        padding: 36px !important;
    }
    .c-footer{
        padding: 0px !important;
        float: none !important;
    }
    .c-map{
        padding: 1rem!important;
    }
    .service-item .down-content{
        padding: 15px !important;
    }
    .service-item .down-content h4{
        font-size: 15px !important;
    }
    .sendmsg h2{
        font-size: 15px;
    }
    .sendmsg{
        margin: 20px !important;
        padding: 25px !important;
    }

}
.clients-item{
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 4px #f7f7f7;
    text-align: center;
    padding: 5px;
}
.clients-item .down-content p{
    color: #01bbf0;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}
.pagination > .row{
    margin: 0 auto !important;
}
.btn-info {
    color: #fff;
    background-color: #01bbf0 !important;
    border-color: #01bbf0 !important;
}
.btn-outline-info {
    color: #01bbf0;
    background-color: transparent;
    background-image: none;
    border-color: #01bbf0;
}